img {
  width: 8%;
  height: 8%;
}
span {
  margin-left: 5px;
}

.boton {
  transition: box-shadow ease 0.3s;
  transition: transform ease 0.3s;
}

.boton:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 2px 1px #183153aa;
}

.nueva-partida {
  margin-right: 20px;
  font-size: large;
  background-color: #ffd43b;
  color: #183153;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  line-height: 0px;
  height: 50px;
  width: 50px;
}

.otra-carta {
  margin-right: 20px;
  font-size: large;
  background-color: #04aa6d;
  color: #183153;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  line-height: 0px;
  height: 50px;
  width: 50px;
}

.plantarse {
  margin-right: 20px;
  font-size: large;
  background-color: #ff8787;
  color: #183153;
  padding: 1rem;
  border-radius: 50px;
  border: none;
  line-height: 0px;
  height: 50px;
  width: 50px;
}

.mesa {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  height: 38vh;
}

.mano {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  align-content: end;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
  height: 100%;
}

.mano-computadora {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  align-content: start;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
  height: 100%;
}

.jugador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  height: 50px;
}

.controles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  height: 50px;
}
