<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center form_container">
        <form>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input
              [(ngModel)]="usuario"
              name="usuario"
              class="form-control input_user"
              placeholder="usuario"
            />
          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input
              [(ngModel)]="password"
              type="password"
              name="password"
              class="form-control input_pass"
              placeholder="password"
            />
          </div>
          <div class="d-flex justify-content-center mt-3 login_container">
            <button
              type="button"
              name="button"
              class="btn login_btn"
              (click)="login()"
            >
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
