.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: #3b3b3b !important;
  color: white !important;
  transition: box-shadow ease 0.3s;
  transition: transform ease 0.3s;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_btn:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 2px 1px #183153aa;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #3b3b3b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #3b3b3b !important;
}
