@import url("https://fonts.googleapis.com/css2?family=Alkalami&family=Inconsolata&display=swap");
/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Inconsolata", monospace;
  background-color: #12553c;
  text-shadow: 1px 1px 1px #000;
  color: #fff;
}
